* {
    padding: 0;
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

main {
    height: 100vh;
    background-image: url(../img/test.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin: 0 auto;
    background-color: red;
}

h1 {
    color: white;
}

.hidden {
    display: none;
}

.paused {
    color: red;
}