* {
    padding: 0;
    margin: 0;
    line-height: 1;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

p#result {
    display: none;
    padding: 20px 10px;
}

p.invalido {
    background-color: rgb(255, 107, 107);
}

p.valido {
    background-color: rgb(104, 218, 104);
}