<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="" method="post">
        <label for="nome">Nome: </label>
        <input type="text" name="nome" id="nome" > <br>
        <label for="usuario">Usuário: </label> 
        <input type="text" name="usuario" id="usuario"> <br>
        <label for="email">Email: </label>
        <input type="email" name="email" id="email"> <br>
        <label for="senha">Senha: </label>
        <input type="password" name="senha" id="senha">
        <input type="submit" value="Enviar">
    </form>
    <script src="./assets/js/bundle.js"></script>
</body>
</html>